.header__link {
    line-height: 180%;
    color: #0D2C49;
}

.contact_us_description {
    font-style: normal;
    font-weight: normal;
    color: #8b8d8f;
    font-size: 14px;
    line-height: 173%;
    margin-bottom: 5px !important;
}

.contact__us .col-form-label,
.contact__us .form-control,
.contact__us .form-check-label {
    color: #8b8d8f;
    font-size: 14px !important;
    font-weight: normal;
}

.contact__us .form-control-sm {
    background: #e3e8ee !important;
    color: #4c4e4f;
}

.contact__us .form-control:focus,
.contact__us .form-select-sm:focus {
    border-color: #e3e8ee !important;
    box-shadow: none !important;
}

.btn__contact {
    background: #4D9621;
    border-radius: 8px;
    padding: 6px 30px;
    color: white !important;
  }
.contact__us .btn:focus {
    outline: none;
    box-shadow: none;
  }
.contact__us .form-check-input:focus {
    box-shadow: none;
}

